<header>
    <img src="images/alice_logo_text_white.png" alt="" class="">
    <h1>Jiskefet</h1>
    <nav>
        <ul>
            <%# <li><a href="/logs">Logs</a></li> %>
            <li><a class="newLog" href="">Create new log</a></li>
            <li><a class="notifications" href="">Notifications</a></li>
            <li class="notificationNumber"></li>
        </ul>
    </nav>
</header>
