<% include ../partials/head %>
<% include ../partials/header %>
<section class="loginSection">
    <form class="login">
        <h2>What is your function?</h2>
        <input type="radio" id="shifter" name="function" value="shifter">
        <label for="shifter">Shifter</label>
        <input type="radio" id="shiftleader" name="function" value="shiftleader">
        <label for="shiftleader">Shiftleader</label>
        <input type="radio" id="runManager" name="function" value="runManager">
        <label for="runManager">Run Manager</label>
        <input type="submit" value="Submit">
    </form>
</section>
<section class="newlogSection hide">
    <form class="newLogSubmit">
        <h3>Create a new log </h3>
        <label for="title">Add a title:</label>
        <input id="title" type="text" placeholder="Title" class="">
        <p>Add tags:</p>
        <div>
            <input type="checkbox" id="criticalError" name="criticalError" class="tag" value="criticalError">
            <label for="criticalError">Critical Error</label>
        </div>
        <div>
            <input type="checkbox" id="error" name="error" value="error" class="tag">
            <label for="error">Error</label>
        </div>
        <div>
            <input type="checkbox" id="runManager" name="runManager" value="runManager" class="tag">
            <label for="runManager">Run Manager</label>
        </div>
        <div>
            <input type="checkbox" id="succes" name="succes" value="succes" class="tag">
            <label for="succes">Succes</label>
        </div>
        <div>
            <input type="checkbox" id="criticalSucces" name="criticalSucces" value="criticalSucces" class="tag">
            <label for="criticalSucces">Critical Succes</label>
        </div>
        <textarea id="markdown" placeholder="Type your description here" class="text"></textarea>
        <button type="submit">Submit</button>
    </form>
</section>
<section class="hide main">
<section>



<% include ../partials/foot %>