<% include ../partials/head %>
<% include ../partials/header %>
<form class="login">
    <h2>What is your function?</h2>
    <input type="radio" id="shifter" name="function" value="shifter">
    <label for="shifter">Shifter</label>
    <input type="radio" id="shiftleader" name="function" value="shiftleader">
    <label for="shiftleader">Shiftleader</label>
    <input type="radio" id="runManager" name="function" value="runManager">
    <label for="runManager">Run Manager</label>
    <input type="submit" value="Submit">
</form>


<% include ../partials/foot %>