<% include ../partials/head %>
<% include ../partials/header %>
<section class="loginSection">
    <form class="login">
        <h2>What is your function?</h2>
        <div class="inputs">
            <input type="radio" id="shifter" name="function" value="shifter">
            <label for="shifter" class="label">Shifter</label>
            <input type="radio" id="shiftleader" name="function" value="shiftleader">
            <label for="shiftleader" class="label">Shiftleader</label>
            <input type="radio" id="runManager" name="function" value="runManager">
            <label for="runManager" class="label">Run Manager</label>
        </div>
        <input type="submit" value="Submit" class="button">
    </form>
</section>
<section class="newlogSection hide">
    <form class="newLogSubmit">
        <h3>Create a new log </h3>
        <label for="title">Add a title:</label>
        <input id="title" type="text" placeholder="Title" class="">
        <p>Add tags:</p>
        <div>
            <input type="radio" id="criticalError" name="tag" class="tag" value="criticalError">
            <label class="label" for="criticalError">Critical Error</label>

            <input type="radio" id="error" name="tag" value="error" class="tag">
            <label class="label" for="error">Error</label>

            <input type="radio" id="succes" name="tag" value="succes" class="tag">
            <label class="label" for="succes">Succes</label>

            <input type="radio" id="criticalSucces" name="tag" value="criticalSucces" class="tag">
            <label class="label" for="criticalSucces">Critical Succes</label>

            <input type="radio" id="runManagerTag" name="tag" value="runManager" class="tag">
            <label class="label" for="runManagerTag">Run Manager</label>
        </div>
        <textarea id="markdown" placeholder="Type your description here" class="text"></textarea>
        <button class="button" type="submit">Submit</button>
    </form>
</section>
<section class="hide main">

<section>



<% include ../partials/foot %>