<% include ../partials/head %>
<% include ../partials/header %>

<table class="table table-sm table-bordered table-hover jf-table ">
    <thead class="thead-light">
        <tr>
            <th scope="col" class="jf-th null">Log id</th>
            <th scope="col" class="jf-th null">Title</th>
            <th scope="col" class="jf-th null">Sub-type</th>
            <th scope="col" class="jf-th null">Origin</th>
            <th scope="col" class="jf-th jf-sort-desc">Creation time</th>
            <th scope="col" class="jf-th null">Author</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>144</td>
            <td>
                <a href="/logs/144">faucibus orci luctus et ultrices posuere cubilia curae donec pharetra magna vestibulum aliquet ultrices erat</a>
            </td>
            <td>
                <div class="text-center">
                    <span class="badge badge-primary">comment</span>
                </div>
            </td>
            <td>
                <div class="text-center">
                    <span class="badge badge-success">human</span>
                </div>
            </td>
            <td>22:24:20 30/07/2019</td>
            <td>12</td>
        </tr>
        <tr>
            <td>662</td>
            <td>
                <a href="/logs/662">ultrices libero non mattis pulvinar nulla pede ullamcorper augue a suscipit nulla elit ac nulla sed vel</a>
            </td>
            <td>
                <div class="text-center">
                    <span class="badge badge-primary">comment</span>
                </div>
            </td>
            <td>
                <div class="text-center">
                    <span class="badge badge-success">human</span>
                </div>
            </td>
            <td>20:32:43 30/07/2019</td>
            <td>6</td>
        </tr>
        <tr>
            <td>976</td>
            <td>
                <a href="/logs/976">viverra dapibus nulla suscipit ligula in lacus curabitur at ipsum ac tellus semper interdum mauris ullamcorper purus</a>
            </td>
            <td>
                <div class="text-center">
                    <span class="badge badge-warning">run</span>
                </div>
            </td>
            <td>
                <div class="text-center">
                    <span class="badge badge-primary">process</span>
                </div>
            </td>
            <td>20:00:34 30/07/2019</td>
            <td>1</td>
        </tr>
        <tr>
            <td>347</td>
            <td>
                <a href="/logs/347">nunc donec quis orci eget orci vehicula condimentum curabitur in libero ut massa volutpat convallis morbi odio</a>
            </td>
            <td>
                <div class="text-center">
                    <span class="badge badge-primary">comment</span>
                </div>
            </td>
            <td>
                <div class="text-center">
                    <span class="badge badge-success">human</span>
                </div>
            </td>
            <td>16:34:05 30/07/2019</td>
            <td>6</td>
        </tr>
        <tr>
            <td>225</td>
            <td>
                <a href="/logs/225">eu orci mauris lacinia sapien quis libero nullam sit amet turpis elementum ligula vehicula consequat</a>
            </td>
            <td>
                <div class="text-center">
                    <span class="badge badge-warning">run</span>
                </div>
            </td>
            <td>
                <div class="text-center">
                    <span class="badge badge-primary">process</span>
                </div>
            </td>
            <td>16:33:44 30/07/2019</td>
            <td>8</td>
        </tr>
        <tr>
            <td>610</td>
            <td>
                <a href="/logs/610">ornare imperdiet sapien urna pretium nisl ut volutpat sapien arcu sed augue aliquam erat volutpat in congue etiam</a>
            </td>
            <td>
                <div class="text-center">
                    <span class="badge badge-primary">comment</span>
                </div>
            </td>
            <td>
                <div class="text-center">
                    <span class="badge badge-success">human</span>
                </div>
            </td>
            <td>13:13:11 30/07/2019</td>
            <td>2</td>
        </tr>
        <tr>
            <td>538</td>
            <td>
                <a href="/logs/538">facilisi cras non velit nec nisi vulputate nonummy maecenas tincidunt lacus at velit vivamus vel</a>
            </td>
            <td>
                <div class="text-center">
                    <span class="badge badge-warning">run</span>
                </div>
            </td>
            <td>
                <div class="text-center">
                    <span class="badge badge-primary">process</span>
                </div>
            </td>
            <td>10:23:53 30/07/2019</td>
            <td>5</td>
        </tr>
        <tr>
            <td>985</td>
            <td>
                <a href="/logs/985">rhoncus sed vestibulum sit amet cursus id turpis integer aliquet</a>
            </td>
            <td>
                <div class="text-center">
                    <span class="badge badge-warning">run</span>
                </div>
            </td>
            <td>
                <div class="text-center">
                    <span class="badge badge-primary">process</span>
                </div>
            </td>
            <td>06:18:17 30/07/2019</td>
            <td>17</td>
        </tr>
        <tr>
            <td>744</td>
            <td>
                <a href="/logs/744">nec nisi vulputate nonummy maecenas tincidunt lacus at velit vivamus</a>
            </td>
            <td>
                <div class="text-center">
                    <span class="badge badge-primary">comment</span>
                </div>
            </td>
            <td>
                <div class="text-center">
                    <span class="badge badge-success">human</span>
                </div>
            </td>
            <td>03:08:09 30/07/2019</td>
            <td>8</td>
        </tr>
        <tr>
            <td>791</td>
            <td>
                <a href="/logs/791">pellentesque ultrices mattis odio donec vitae nisi nam ultrices libero non mattis pulvinar</a>
            </td>
            <td>
                <div class="text-center">
                    <span class="badge badge-warning">run</span>
                </div>
            </td>
            <td>
                <div class="text-center">
                    <span class="badge badge-primary">process</span>
                </div>
            </td>
            <td>22:20:04 29/07/2019</td>
            <td>14</td>
        </tr>
        <tr>
            <td>159</td>
            <td>
                <a href="/logs/159">bibendum imperdiet nullam orci pede venenatis non sodales sed tincidunt eu felis</a>
            </td>
            <td>
                <div class="text-center">
                    <span class="badge badge-primary">comment</span>
                </div>
            </td>
            <td>
                <div class="text-center">
                    <span class="badge badge-success">human</span>
                </div>
            </td>
            <td>21:34:31 29/07/2019</td>
            <td>15</td>
        </tr>
        <tr>
            <td>390</td>
            <td>
                <a href="/logs/390">ut mauris eget massa tempor convallis nulla neque libero convallis eget eleifend luctus ultricies eu nibh quisque id</a>
            </td>
            <td>
                <div class="text-center">
                    <span class="badge badge-primary">comment</span>
                </div>
            </td>
            <td>
                <div class="text-center">
                    <span class="badge badge-success">human</span>
                </div>
            </td>
            <td>19:32:30 29/07/2019</td>
            <td>15</td>
        </tr>
        <tr>
            <td>325</td>
            <td>
                <a href="/logs/325">nec nisi volutpat eleifend donec ut dolor morbi vel lectus in quam fringilla rhoncus mauris enim leo rhoncus</a>
            </td>
            <td>
                <div class="text-center">
                    <span class="badge badge-primary">comment</span>
                </div>
            </td>
            <td>
                <div class="text-center">
                    <span class="badge badge-success">human</span>
                </div>
            </td>
            <td>14:00:37 29/07/2019</td>
            <td>20</td>
        </tr>
        <tr>
            <td>131</td>
            <td>
                <a href="/logs/131">nunc proin at turpis a pede posuere nonummy integer non velit donec diam</a>
            </td>
            <td>
                <div class="text-center">
                    <span class="badge badge-warning">run</span>
                </div>
            </td>
            <td>
                <div class="text-center">
                    <span class="badge badge-primary">process</span>
                </div>
            </td>
            <td>11:21:37 29/07/2019</td>
            <td>3</td>
        </tr>
        <tr>
            <td>494</td>
            <td>
                <a href="/logs/494">ut dolor morbi vel lectus in quam fringilla rhoncus mauris enim leo rhoncus sed vestibulum</a>
            </td>
            <td>
                <div class="text-center">
                    <span class="badge badge-warning">run</span>
                </div>
            </td>
            <td>
                <div class="text-center">
                    <span class="badge badge-primary">process</span>
                </div>
            </td>
            <td>10:31:49 29/07/2019</td>
            <td>18</td>
        </tr>
        <tr>
            <td>688</td>
            <td>
                <a href="/logs/688">sapien cursus vestibulum proin eu mi nulla ac enim in tempor turpis nec euismod scelerisque quam turpis adipiscing lorem</a>
            </td>
            <td>
                <div class="text-center">
                    <span class="badge badge-warning">run</span>
                </div>
            </td>
            <td>
                <div class="text-center">
                    <span class="badge badge-primary">process</span>
                </div>
            </td>
            <td>08:34:34 29/07/2019</td>
            <td>19</td>
        </tr>
    </tbody>
</table>


<% include ../partials/foot %>